{{> head }}
{{> navbar}}

<div class="row">

<div class="col-8">
<h1>Arbol</h1>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo sapiente, tempora omnis quae error earum assumenda fugit adipisci voluptatem nulla quod quia tenetur voluptatibus aliquam nihil sit similique repellat non.
</p>
</div>

<div class="col-4">
    <img src="assets/img/arbol.jpg" alt="" srcset="" class="img-thumbnail">
</div>

</div>


{{> footer }}